@import "mixin";

$dark-blue: #010333;
$white: #ffffff;
$silver: #c6c6c6;
$gray: #808080;
$n-blue: blue;
$n-green: green;
$n-red: red;
$n-navy: navy;
$n-maroon: maroon;
$n-teal: teal;
$n-black: black;
$n-gray: gray;

$lineWidth: 4px;
$lineHeight: 8px;
html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: $white;
  width: 100vw;
  height: 100vh;
}

.startPanel {
  @include centerize;
  @include rectangle(100%, 100%, transparent, 0);

  .content {
    background-color: $silver;
    @include centerize(column, space-evenly);
    @include rectangle(200px, 300px, $silver, 5px);

    #startGame {
      @include buttons($silver, 5px, 10px, 1.1em, 3px);
      box-shadow: 0 0 6px 1px $dark-blue;
      outline: none;
      border: none;
    }

    #difficulty {
      font-size: 1.1em;
    }
  }
}

.board {
  background-color: $silver;
  border-left: 5px solid $gray;
  border-top: 5px solid $gray;
  border-right: 5px solid $white;
  border-bottom: 5px solid $white;

  &.beginner {
    @include board(9, 0);
  }
  &.normal {
    @include board(16, 0);
  }
  &.hard {
    @include board(16, 0);
  }
  .cell {
    @include rectangle(24px, 24px, $silver, 0, none);
    @include centerize;
    text-align: center;
    border-left: 3px solid $white;
    border-top: 3px solid $white;
    border-right: 3px solid $gray;
    border-bottom: 3px solid $gray;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-family: serif;
    font-weight: bold;
    &:disabled {
      border-left: 1px solid $gray;
      border-top: 1px solid $gray;
      border-right: none;
      border-bottom: none;
    }
    &::before {
      content: "";
      display: block;
      float: left;
      padding-top: 100%;
    }
  }
}

#game {
  @include centerize;

  .scoreBoard {
    @include centerize(row, space-between);
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: $silver;
    border-left: 5px solid $gray;
    border-top: 5px solid $gray;
    border-right: 5px solid $white;
    border-bottom: 5px solid $white;
    margin-bottom: 10px;

    .score {
      @include rectangle(50px, 30px, $n-black, 0, none);
      border-left: 1px solid $gray;
      border-top: 1px solid $gray;
      border-right: 1px solid $white;
      border-bottom: 1px solid $white;
    }

    .stat {
      @include rectangle(30px, 30px, $n-black, 0, none);
      border-left: 1px solid $gray;
      border-top: 1px solid $gray;
      border-right: 1px solid $white;
      border-bottom: 1px solid $white;
    }

    .timer {
      @include rectangle(70px, 30px, $n-black, 0, none);
      border-left: 1px solid $gray;
      border-top: 1px solid $gray;
      border-right: 1px solid $white;
      border-bottom: 1px solid $white;
      display: inline-grid;
      gap: 3px;
      grid-auto-flow: column;
      justify-content: center;

      .number {
        width: ($lineWidth * 3) + + $lineHeight;
        display: grid;
        grid-template-columns: $lineWidth $lineHeight $lineWidth;
        grid-auto-flow: column;
        gap: $lineWidth * 0.5;
        align-items: center;

        .columns {
          display: grid;
          gap: $lineWidth;
          align-content: space-between;

          &.center-coloumn {
            height: ($lineHeight * 2) + ($lineWidth * 3);
          }

          .line-1 {
            @include line($n-red);
            &::after {
              @include triangle($n-red);
            }
            &::before {
              @include triangle($n-red, true, true);
            }
          }

          .line-2 {
            @include line($n-red, false);
            &::after {
              @include triangle($n-red, false);
            }
            &::before {
              @include triangle($n-red, false, true);
            }
          }

          .show-number {
            opacity: 1;
          }
        }
      }
      .dot {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        opacity: 0.4;
        animation: blink 1s infinite steps(2, jump-none);

        &::before {
          background-color: $n-red;
          width: $lineWidth;
          height: $lineWidth;
          content: "";
        }
        &::after {
          background-color: $n-red;
          width: $lineWidth;
          height: $lineWidth;
          content: "";
        }
      }
    }

    @keyframes blink {
      to {
        opacity: 1;
      }
    }
  }

  .panel {
    padding: 10px;
    background-color: $silver;
    border-left: 5px solid $white;
    border-top: 5px solid $white;
    border-right: 5px solid $gray;
    border-bottom: 5px solid $gray;
  }
}

.fullHeight {
  min-height: 100%;
}

.n1 {
  color: $n-blue;
}
.n2 {
  color: $n-green;
}
.n3 {
  color: $n-red;
}
.n4 {
  color: $n-navy;
}
.n5 {
  color: $n-maroon;
}
.n6 {
  color: $n-teal;
}
.n7 {
  color: $n-black;
}
.n8 {
  color: $n-gray;
}
