@import "mixin";

$dark-blue: #010333;
$white: #ffffff;
$silver: #c6c6c6;
$light-gray: #bcbcbc;
$gray: #808080;
$yellow: #fbff08;
$yellow-darker: #eaee08;
$n-blue: blue;
$n-green: green;
$n-red: red;
$n-navy: navy;
$n-maroon: maroon;
$n-teal: teal;
$n-black: black;
$n-gray: gray;

$lineWidth: 4px;
$lineHeight: 8px;

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: $white;
  width: 100vw;
  height: 100vh;
}

.start-panel {
  @include centerize;
  @include rectangle(100%, 100%, transparent, 0);

  .content {
    background-color: $silver;
    @include centerize(column, space-evenly);
    @include rectangle(200px, 300px, $silver, 5px);

    #start-game {
      @include buttons($silver, 5px, 10px, 1.1em, 3px);
      box-shadow: 0 0 6px 1px $dark-blue;
      outline: none;
      border: none;
    }

    #difficulty {
      font-size: 1.1em;
    }
  }
}

.board {
  background-color: $silver;
  border-left: 5px solid $gray;
  border-top: 5px solid $gray;
  border-right: 5px solid $white;
  border-bottom: 5px solid $white;

  &.beginner {
    @include board(9, 0);
  }
  &.normal {
    @include board(16, 0);
  }
  &.hard {
    @include board(16, 0);
  }
  .cell {
    @include rectangle(24px, 24px, $silver, 0, none);
    @include centerize;
    text-align: center;
    border-left: 3px solid $white;
    border-top: 3px solid $white;
    border-right: 3px solid $gray;
    border-bottom: 3px solid $gray;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-family: serif;
    font-weight: bold;
    &:disabled {
      border-left: 1px solid $gray;
      border-top: 1px solid $gray;
      border-right: none;
      border-bottom: none;
    }
    // &::before {
    //   content: "";
    //   display: block;
    //   float: left;
    //   padding-top: 100%;
    // }
    &.mark::before {
      content: "";
      display: block;
      width: 2px;
      height: 2px;
      background-color: #000;
      box-shadow: 0 2px 0 0 #000, 0 4px 0 0 #000, 0 6px 0 0 #000,
        2px 6px 0 0 #000, -2px 6px 0 0 #000, 0 -2px 0 0 #000, 0 -4px 0 0 #000,
        0 -6px 0 0 #000, -2px -4px 0 0 #f00, -2px -2px 0 0 #f00,
        -4px -2px 0 0 #f00;
    }

    &.mine {
      &::before {
        content: "";
        display: block;
        width: 7px;
        height: 7px;
        background-color: #000;
      }
      &::after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        box-shadow: -1px -1px 0 1px #fff, -5px 0 0 0.5px #000,
          -6px 0 0 0.5px #000, 5px 0 0 0.5px #000, 6px 0 0 0.5px #000,
          0 5px 0 0.5px #000, 0 6px 0 0.5px #000, 0 -5px 0 0.5px #000,
          0 -6px 0 0.5px #000, 0 2.5px 0 2px #000, 0 -2.5px 0 2px #000,
          2.5px 0 0 2px #000, -2.5px 0 0 2px #000, -4px -4px 0 0.5px #000,
          4px 4px 0 0.5px #000, 4px -4px 0 0.5px #000, -4px 4px 0 0.5px #000;
      }
    }

    &.n1 {
      color: $n-blue;
    }
    &.n2 {
      color: $n-green;
    }
    &.n3 {
      color: $n-red;
    }
    &.n4 {
      color: $n-navy;
    }
    &.n5 {
      color: $n-maroon;
    }
    &.n6 {
      color: $n-teal;
    }
    &.n7 {
      color: $n-black;
    }
    &.n8 {
      color: $n-gray;
    }
  }
}

#game {
  @include centerize;

  .score-board {
    @include centerize(row, space-between);
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: $silver;
    border-left: 5px solid $gray;
    border-top: 5px solid $gray;
    border-right: 5px solid $white;
    border-bottom: 5px solid $white;
    margin-bottom: 10px;

    .mines-count {
      @include rectangle(70px, 30px, $n-black, 0, none);
      border-left: 1px solid $gray;
      border-top: 1px solid $gray;
      border-right: 1px solid $white;
      border-bottom: 1px solid $white;
    }

    .stat {
      @include rectangle(30px, 30px, $n-black, 0, none);
      border-left: 1px solid $gray;
      border-top: 1px solid $gray;
      border-right: 1px solid $white;
      border-bottom: 1px solid $white;

      #game-stat {
        @include rectangle(98%, 98%, $silver, 0, none);
        @include centerize;
        text-align: center;
        border-left: 3px solid $white;
        border-top: 3px solid $white;
        border-right: 3px solid $gray;
        border-bottom: 3px solid $gray;
        padding: 0;
        margin: 0;
        &:active {
          border-left: 3px solid $gray;
          border-top: 3px solid $gray;
          border-right: 3px solid $white;
          border-bottom: 3px solid $white;
          background-color: $light-gray;
          &::after,
          &::before {
            margin-top: 1px;
            background-color: $yellow-darker;
          }
        }
        &::before {
          width: 20px;
          height: 20px;
          display: block;
          content: "";
          background-color: $yellow;
          border-radius: 50%;
        }
        &::after {
          width: 0;
          height: 0;
          display: block;
          content: "";
          position: absolute;
          box-shadow: -3px -3px 0 1px #000, 3px -3px 0 1px #000,
            0px 5px 0 0.5px #000, 1px 5px 0 0.5px #000, -1px 5px 0 0.5px #000,
            -2px 5px 0 0.5px #000, 2px 5px 0 0.5px #000, 3px 4px 0 0.5px #000,
            -3px 4px 0 0.5px #000, -4px 3px 0 0.5px #000, 4px 3px 0 0.5px #000,
            10px 0px 0 0.5px #000, 10px 1px 0 0.5px #000, 10px -1px 0 0.5px #000,
            10px 2px 0 0.5px #000, 10px -2px 0 0.5px #000,
            10px -3px 0 0.5px #000, 10px 3px 0 0.5px #000, 9px -4px 0 0.5px #000,
            9px 4px 0 0.5px #000, 9px -5px 0 0.5px #000, 9px 5px 0 0.5px #000,
            8px -6px 0 0.5px #000, 8px 6px 0 0.5px #000, 7px -7px 0 0.5px #000,
            7px 7px 0 0.5px #000, 6px -8px 0 0.5px #000, 6px 8px 0 0.5px #000,
            5px -9px 0 0.5px #000, 5px 9px 0 0.5px #000, 4px -9px 0 0.5px #000,
            4px 9px 0 0.5px #000, 3px -10px 0 0.5px #000, 3px 10px 0 0.5px #000,
            2px 10px 0 0.5px #000, 1px 10px 0 0.5px #000, 0px 10px 0 0.5px #000,
            2px -10px 0 0.5px #000, 1px -10px 0 0.5px #000,
            -10px 0px 0 0.5px #000, -10px 1px 0 0.5px #000,
            -10px -1px 0 0.5px #000, -10px 2px 0 0.5px #000,
            -10px -2px 0 0.5px #000, -10px -3px 0 0.5px #000,
            -10px 3px 0 0.5px #000, -9px -4px 0 0.5px #000,
            -9px 4px 0 0.5px #000, -9px -5px 0 0.5px #000, -9px 5px 0 0.5px #000,
            -8px -6px 0 0.5px #000, -8px 6px 0 0.5px #000,
            -7px -7px 0 0.5px #000, -7px 7px 0 0.5px #000,
            -6px -8px 0 0.5px #000, -6px 8px 0 0.5px #000,
            -5px -9px 0 0.5px #000, -5px 9px 0 0.5px #000,
            -4px -9px 0 0.5px #000, -4px 9px 0 0.5px #000,
            -3px -10px 0 0.5px #000, -3px 10px 0 0.5px #000,
            -2px 10px 0 0.5px #000, -1px 10px 0 0.5px #000,
            -2px -10px 0 0.5px #000, -1px -10px 0 0.5px #000,
            0px -10px 0 0.5px #000;
        }
        &.sunglass::after {
          box-shadow: 6px -3px 0 0.5px #fff, 5px -2px 0 0.5px #fff,
            -1px -3px 0 0.5px #fff, -2px -2px 0 0.5px #fff, 2px -3px 0 1px #000,
            3px -3px 0 1px #000, 0px 5px 0 0.5px #000, 1px 5px 0 0.5px #000,
            -1px 5px 0 0.5px #000, -2px 5px 0 0.5px #000, 2px 5px 0 0.5px #000,
            3px 4px 0 0.5px #000, -3px 4px 0 0.5px #000, -4px 3px 0 0.5px #000,
            4px 3px 0 0.5px #000, 10px 0px 0 0.5px #000, 10px 1px 0 0.5px #000,
            10px -1px 0 0.5px #000, 10px 2px 0 0.5px #000,
            10px -2px 0 0.5px #000, 10px -3px 0 0.5px #000,
            10px 3px 0 0.5px #000, 9px -4px 0 0.5px #000, 9px 4px 0 0.5px #000,
            9px -5px 0 0.5px #000, 9px 5px 0 0.5px #000, 8px -6px 0 0.5px #000,
            8px 6px 0 0.5px #000, 7px -7px 0 0.5px #000, 7px 7px 0 0.5px #000,
            6px -8px 0 0.5px #000, 6px 8px 0 0.5px #000, 5px -9px 0 0.5px #000,
            5px 9px 0 0.5px #000, 4px -9px 0 0.5px #000, 4px 9px 0 0.5px #000,
            3px -10px 0 0.5px #000, 3px 10px 0 0.5px #000, 2px 10px 0 0.5px #000,
            1px 10px 0 0.5px #000, 0px 10px 0 0.5px #000, 2px -10px 0 0.5px #000,
            1px -10px 0 0.5px #000, -10px 0px 0 0.5px #000,
            -10px 1px 0 0.5px #000, -10px -1px 0 0.5px #000,
            -10px 2px 0 0.5px #000, -10px -2px 0 0.5px #000,
            -10px -3px 0 0.5px #000, -10px 3px 0 0.5px #000,
            -9px -4px 0 0.5px #000, -9px 4px 0 0.5px #000,
            -9px -5px 0 0.5px #000, -9px 5px 0 0.5px #000,
            -8px -6px 0 0.5px #000, -8px 6px 0 0.5px #000,
            -7px -7px 0 0.5px #000, -7px 7px 0 0.5px #000,
            -6px -8px 0 0.5px #000, -6px 8px 0 0.5px #000,
            -5px -9px 0 0.5px #000, -5px 9px 0 0.5px #000,
            -4px -9px 0 0.5px #000, -4px 9px 0 0.5px #000,
            -3px -10px 0 0.5px #000, -3px 10px 0 0.5px #000,
            -2px 10px 0 0.5px #000, -1px 10px 0 0.5px #000,
            -2px -10px 0 0.5px #000, -1px -10px 0 0.5px #000,
            0px -10px 0 0.5px #000, -6px -4px 0 1px #000, -4px -4px 0 1px #000,
            -2px -4px 0 1px #000, 0px -4px 0 1px #000, 2px -4px 0 1px #000,
            4px -4px 0 1px #000, 6px -4px 0 1px #000, -5px -2px 0 1px #000,
            -3px -2px 0 1px #000, -1px -2px 0 1px #000, 2px -2px 0 1px #000,
            4px -2px 0 1px #000, 6px -2px 0 1px #000, -3px -2px 0 2px #000,
            4px -2px 0 2px #000;
        }
        &.sad::after {
          box-shadow: -3px -3px 0 1px #000, 3px -3px 0 1px #000,
            0px 3px 0 0.5px #000, 1px 3px 0 0.5px #000, -1px 3px 0 0.5px #000,
            -2px 3px 0 0.5px #000, 2px 3px 0 0.5px #000, 3px 4px 0 0.5px #000,
            -3px 4px 0 0.5px #000, -4px 5px 0 0.5px #000, 4px 5px 0 0.5px #000,
            10px 0px 0 0.5px #000, 10px 1px 0 0.5px #000, 10px -1px 0 0.5px #000,
            10px 2px 0 0.5px #000, 10px -2px 0 0.5px #000,
            10px -3px 0 0.5px #000, 10px 3px 0 0.5px #000, 9px -4px 0 0.5px #000,
            9px 4px 0 0.5px #000, 9px -5px 0 0.5px #000, 9px 5px 0 0.5px #000,
            8px -6px 0 0.5px #000, 8px 6px 0 0.5px #000, 7px -7px 0 0.5px #000,
            7px 7px 0 0.5px #000, 6px -8px 0 0.5px #000, 6px 8px 0 0.5px #000,
            5px -9px 0 0.5px #000, 5px 9px 0 0.5px #000, 4px -9px 0 0.5px #000,
            4px 9px 0 0.5px #000, 3px -10px 0 0.5px #000, 3px 10px 0 0.5px #000,
            2px 10px 0 0.5px #000, 1px 10px 0 0.5px #000, 0px 10px 0 0.5px #000,
            2px -10px 0 0.5px #000, 1px -10px 0 0.5px #000,
            -10px 0px 0 0.5px #000, -10px 1px 0 0.5px #000,
            -10px -1px 0 0.5px #000, -10px 2px 0 0.5px #000,
            -10px -2px 0 0.5px #000, -10px -3px 0 0.5px #000,
            -10px 3px 0 0.5px #000, -9px -4px 0 0.5px #000,
            -9px 4px 0 0.5px #000, -9px -5px 0 0.5px #000, -9px 5px 0 0.5px #000,
            -8px -6px 0 0.5px #000, -8px 6px 0 0.5px #000,
            -7px -7px 0 0.5px #000, -7px 7px 0 0.5px #000,
            -6px -8px 0 0.5px #000, -6px 8px 0 0.5px #000,
            -5px -9px 0 0.5px #000, -5px 9px 0 0.5px #000,
            -4px -9px 0 0.5px #000, -4px 9px 0 0.5px #000,
            -3px -10px 0 0.5px #000, -3px 10px 0 0.5px #000,
            -2px 10px 0 0.5px #000, -1px 10px 0 0.5px #000,
            -2px -10px 0 0.5px #000, -1px -10px 0 0.5px #000,
            0px -10px 0 0.5px #000;
        }
      }
    }

    .timer,
    .mines {
      @include rectangle(70px, 30px, $n-black, 0, none);
      border-left: 1px solid $gray;
      border-top: 1px solid $gray;
      border-right: 1px solid $white;
      border-bottom: 1px solid $white;
      display: inline-grid;
      gap: 3px;
      grid-auto-flow: column;
      justify-content: center;

      .number {
        width: ($lineWidth * 3) + + $lineHeight;
        display: grid;
        grid-template-columns: $lineWidth $lineHeight $lineWidth;
        grid-auto-flow: column;
        gap: $lineWidth * 0.5;
        align-items: center;

        .columns {
          display: grid;
          gap: $lineWidth;
          align-content: space-between;

          &.center-coloumn {
            height: ($lineHeight * 2) + ($lineWidth * 3);
          }

          .line-1 {
            @include line($n-red);
            &::after {
              @include triangle($n-red);
            }
            &::before {
              @include triangle($n-red, true, true);
            }
          }

          .line-2 {
            @include line($n-red, false);
            &::after {
              @include triangle($n-red, false);
            }
            &::before {
              @include triangle($n-red, false, true);
            }
          }

          .show-number {
            opacity: 1;
          }
        }
      }
      .dot {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        opacity: 0.4;
        animation: blink 1s infinite steps(2, jump-none);

        &::before {
          background-color: $n-red;
          width: $lineWidth;
          height: $lineWidth;
          content: "";
        }
        &::after {
          background-color: $n-red;
          width: $lineWidth;
          height: $lineWidth;
          content: "";
        }
      }
    }

    @keyframes blink {
      to {
        opacity: 1;
      }
    }
  }

  .panel {
    padding: 10px;
    background-color: $silver;
    border-left: 5px solid $white;
    border-top: 5px solid $white;
    border-right: 5px solid $gray;
    border-bottom: 5px solid $gray;
  }
}

.full-height {
  min-height: 100%;
}
